jpda.session.name=<set-by-the-generator>
jpda.host=localhost

# Sun Java System Application Server using shared memory (on Windows)
# jpda.address=localhost4848
# jpda.transport=dt_shmem

# Sun Java System Application Server using a socket
jpda.address=9009
jpda.transport=dt_socket

# you can change this property to a list of your source folders
debug.sourcepath=<set-by-the-generator>

