<jnl:articleSearchCountByKeywords var="" companyId="" groupId="" keywords="" 
	version="" type="" structureId="" templateId="" displayDateGT="" 
	displayDateLT="" approved="" expired="" reviewDate="" />