/*
 * CDDL HEADER START
 * The contents of this file are subject to the terms
 * of the Common Development and Distribution License
 * (the License). You may not use this file except in
 * compliance with the License.
 * 
 * You can obtain a copy of the License at
 * http://www.sun.com/cddl/cddl.html and legal/CDDLv1.0.txt
 * See the License for the specific language governing
 * permission and limitations under the License.
 * 
 * When distributing Covered Code, include this CDDL
 * Header Notice in each file and include the License file
 * at legal/CDDLv1.0.txt.
 * If applicable, add the following below the CDDL Header,
 * with the fields enclosed by brackets [] replaced by
 * your own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 * 
 * Copyright 2006 Sun Microsystems Inc. All Rights Reserved
 * CDDL HEADER END
 */

.tableHead
{
  font-weight: bold;
  text-align: left;
  text-indent: 3pt;
  color: White;
  /*background-color: #6d8b92;*/
  background-color: #902
}

.withBackground
{
    /*background-color: #b7c4c6;*/
    background-color: #EFE6CE
}

.thStyle
{
    text-indent: 3pt;
    text-align: left;
    font-weight: bold;
    background-color: #e7e9eb;
}

.tdStyle
{
    font-size: 15;
    font-family: courier;
    text-indent: 3pt;
    text-align: left;
    background-color: white;
}

.buttonStyle
{
    text-align: center;
    /*background-color: #b3d2df;
    border:  1px solid #4497b7;*/
    background-color: white;
    border:  1px solid #902;
    width: 60;
}

.labelStyle
{
    text-align: left;
    text-indent: 3pt;
    font-weight: bold;
    color: #727272;
}

.textboxStyle
{
    border: 1px solid black;
    width: 150;
}

.checkboxStyle
{
    border: 1px solid black;
}

