/*
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 *
 * Copyright 2013 Oracle and/or its affiliates. All rights reserved.
 *
 * Oracle and Java are registered trademarks of Oracle and/or its affiliates.
 * Other names may be trademarks of their respective owners.
 *
 * The contents of this file are subject to the terms of either the GNU
 * General Public License Version 2 only ("GPL") or the Common
 * Development and Distribution License("CDDL") (collectively, the
 * "License"). You may not use this file except in compliance with the
 * License. You can obtain a copy of the License at
 * http://www.netbeans.org/cddl-gplv2.html
 * or nbbuild/licenses/CDDL-GPL-2-CP. See the License for the
 * specific language governing permissions and limitations under the
 * License.  When distributing the software, include this License Header
 * Notice in each file and include the License file at
 * nbbuild/licenses/CDDL-GPL-2-CP.  Oracle designates this
 * particular file as subject to the "Classpath" exception as provided
 * by Oracle in the GPL Version 2 section of the License file that
 * accompanied this code. If applicable, add the following below the
 * License Header, with the fields enclosed by brackets [] replaced by
 * your own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 *
 * If you wish your version of this file to be governed by only the CDDL
 * or only the GPL Version 2, indicate your decision by adding
 * "[Contributor] elects to include this software in this distribution
 * under the [CDDL or GPL Version 2] license." If you do not indicate a
 * single choice of license, a recipient has the option to distribute
 * your version of this file under either the CDDL, the GPL Version 2 or
 * to extend the choice of license to its licensees as provided above.
 * However, if you add GPL Version 2 code and therefore, elected the GPL
 * Version 2 license, then the option applies only if the new code is
 * made subject to such option by the copyright holder.
 *
 * Contributor(s):
 *
 * Portions Copyrighted 2013 Sun Microsystems, Inc.
 */
.Java-hint {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}
.Deprecated {
  text-decoration:line-through;
}
.Own {
  font-weight: bolder;
}
.Keyword {
  color: rgb(0,0,153);
  background-image: url("../img/java_keyword.png");
}
.Package {
  color: rgb(0,86,0);
  background-image: url("../img/java_package.png");
}
.Class {
  color: rgb(86,0,0);
  background-image: url("../img/java_class.png");
}
.Interface {
  color: rgb(64,64,64);
  background-image: url("../img/java_interface.png");
}
.Enum {
  color: rgb(86,0,0);
  background-image: url("../img/java_enum.png");
}
.AnnotationType {
  color: rgb(86,0,0);
  background-image: url("../img/java_annotation_type.png");
}
.TypeParameter {
  color: black;
  background-image: url("../img/java_annotation_type.png");
}
.LocalVarible {
  color: rgb(0,0,124);
  background-image: url("../img/java_annotation_type.png");
}
.Method {
  color: black;
  background-image: url("../img/java_method.png");
}
.MethodPackagePrivate {
  color: black;
  background-image: url("../img/java_method_package_private.png");
}
.MethodPrivate {
  color: black;
  background-image: url("../img/java_method_private.png");
}
.MethodProtected {
  color: black;
  background-image: url("../img/java_method_protected.png");
}
.MethodStatic {
  color: black;
  background-image: url("../img/java_method_static.png");
}
.MethodStaticPackagePrivate {
  color: black;
  background-image: url("../img/java_method_static_package_private.png");
}
.MethodStaticPrivate {
  color: black;
  background-image: url("../img/java_method_static_private.png");
}
.MethodStaticProtected {
  color: black;
  background-image: url("../img/java_method_static_protected.png.png");
}
.Field {
  color: rgb(0,134,24);
  background-image: url("../img/java_field.png");
}
.FieldPackagePrivate {
  color: rgb(0,134,24);
  background-image: url("../img/java_field_package_private.png");
}
.FieldPrivate {
  color: rgb(0,134,24);
  background-image: url("../img/java_field_private.png");
}
.FieldProtected {
  color: rgb(0,134,24);
  background-image: url("../img/java_field_protected.png");
}
.FieldStatic {
  color: rgb(0,134,24);
  background-image: url("../img/java_field_static.png");
}
.FieldStaticPackagePrivate {
  color: rgb(0,134,24);
  background-image: url("../img/java_field_static_package_private.png");
}
.FieldStaticPrivate {
  color: rgb(0,134,24);
  background-image: url("../img/java_field_static_private.png");
}
.FieldStaticProtected {
  color: rgb(0,134,24);
  background-image: url("../img/java_field_static_protected.png");
}
.Constructor {
  color: rgb(178,139,0);
  background-image: url("../img/java_constructor.png");
}
.ConstructorPackagePrivate {
  color: rgb(178,139,0);
  background-image: url("../img/java_constructor_package_private.png");
}
.ConstructorPrivate {
  color: rgb(178,139,0);
  background-image: url("../img/java_constructor_private.png");
}
.ConstructorProtected {
  color: rgb(178,139,0);
  background-image: url("../img/java_constructor_protected.png");
}
.Attribute {
  color: rgb(64,64,64);
  background-image: url("../img/java_attribute.png");
}
