.Java-hint {
  background-image: url("../img/java-hint-icons.png");
  background-repeat: no-repeat;
  padding-left: 20px;
  max-width: none;
}  
.Java-hint-left {
  float: left;
  display: inline-block;
}
.Java-hint-right {
  padding-left: 1em;
  float: right;
  display: inline-block;
}
.Dpr .Java-hint-name {
  text-decoration:line-through;
}
.NoI .Java-hint-name {
  font-weight: bolder;
}
.KW {
  color: rgb(0,0,153);
  background-position: left -376px;
}
.PKG {
  color: rgb(0,86,0);
  background-position: left -586px;
}
.CL {
  color: rgb(86,0,0);
  background-position: left -61px;
}
.IF {
  color: rgb(64,64,64);
  background-position: left -355px;
}
.EN {
  color: rgb(86,0,0);
  background-position: left -166px;
}
.AT {
  color: rgb(86,0,0);
  background-position: left 2px;
}
.TP {
  color: black;
}
.VAR {
  color: rgb(0,0,124);
  background-position: left -397px;
}
.MT {
  color: black;
  background-position: left -418px;
}
.MTP {
  color: black;
  background-position: left -439px;
}
.MTV {
  color: black;
  background-position: left -460px;
}
.MTR {
  color: black;
  background-position: left -481px;
}
.MTS {
  color: black;
  background-position: left -502px;
}
.MTSP {
  color: black;
  background-position: left -523px;
}
.MTSV {
  color: black;
  background-position: left -544px;
}
.MTSR {
  color: black;
  background-position: left -565px;
}
.FD {
  color: rgb(0,134,24);
  background-position: left -187px;
}
.FDP {
  color: rgb(0,134,24);
  background-position: left -208px;
}
.FDV {
  color: rgb(0,134,24);
  background-position: left -229px;
}
.FDR {
  color: rgb(0,134,24);
  background-position: left -250px;
}
.FDS {
  color: rgb(0,134,24);
  background-position: left -271px;
}
.FDSP {
  color: rgb(0,134,24);
  background-position: left -292px;
}
.FDSV {
  color: rgb(0,134,24);
  background-position: left -313px;
}
.FDSR {
  color: rgb(0,134,24);
  background-position: left -334px;
}
.CT {
  color: rgb(178,139,0);
  background-position: left -82px;
}
.CTP {
  color: rgb(178,139,0);
  background-position: left -103px;
}
.CTV {
  color: rgb(178,139,0);
  background-position: left -124px;
}
.CTR {
  color: rgb(178,139,0);
  background-position: left -145px;
}
.A {
  color: rgb(64,64,64);
  background-position: left -19px;
}
.AV {
  color: rgb(64,64,64);
  background-position: left -40px;
}
