.Java-hint {
  background-image: url("../img/java-hint-icons.png");
  background-repeat: no-repeat;
  padding-left: 20px;
  max-width: none;
}  
.Java-hint-left {
  float: left;
  display: inline-block;
}
.Java-hint-right {
  padding-left: 1em;
  float: right;
  display: inline-block;
}
.Deprecated .Java-hint-name {
  text-decoration:line-through;
}
.NotInherited .Java-hint-name {
  font-weight: bolder;
}
.Keyword {
  color: rgb(0,0,153);
  background-position: left -376px;
}
.Package {
  color: rgb(0,86,0);
  background-position: left -586px;
}
.Class {
  color: rgb(86,0,0);
  background-position: left -61px;
}
.Interface {
  color: rgb(64,64,64);
  background-position: left -355px;
}
.Enum {
  color: rgb(86,0,0);
  background-position: left -166px;
}
.AnnotationType {
  color: rgb(86,0,0);
  background-position: left 2px;
}
.TypeParameter {
  color: black;
}
.LocalVariable {
  color: rgb(0,0,124);
  background-position: left -397px;
}
.Method {
  color: black;
  background-position: left -418px;
}
.MethodPackage {
  color: black;
  background-position: left -439px;
}
.MethodPrivate {
  color: black;
  background-position: left -460px;
}
.MethodProtected {
  color: black;
  background-position: left -481px;
}
.MethodStatic {
  color: black;
  background-position: left -502px;
}
.MethodStaticPackage {
  color: black;
  background-position: left -523px;
}
.MethodStaticPrivate {
  color: black;
  background-position: left -544px;
}
.MethodStaticProtected {
  color: black;
  background-position: left -565px;
}
.Field {
  color: rgb(0,134,24);
  background-position: left -187px;
}
.FieldPackage {
  color: rgb(0,134,24);
  background-position: left -208px;
}
.FieldPrivate {
  color: rgb(0,134,24);
  background-position: left -229px;
}
.FieldProtected {
  color: rgb(0,134,24);
  background-position: left -250px;
}
.FieldStatic {
  color: rgb(0,134,24);
  background-position: left -271px;
}
.FieldStaticPackage {
  color: rgb(0,134,24);
  background-position: left -292px;
}
.FieldStaticPrivate {
  color: rgb(0,134,24);
  background-position: left -313px;
}
.FieldStaticProtected {
  color: rgb(0,134,24);
  background-position: left -334px;
}
.Constructor {
  color: rgb(178,139,0);
  background-position: left -82px;
}
.ConstructorPackage {
  color: rgb(178,139,0);
  background-position: left -103px;
}
.ConstructorPrivate {
  color: rgb(178,139,0);
  background-position: left -124px;
}
.ConstructorProtected {
  color: rgb(178,139,0);
  background-position: left -145px;
}
.Attribute {
  color: rgb(64,64,64);
  background-position: left -19px;
}
.AttributeValue {
  color: rgb(64,64,64);
  background-position: left -40px;
}
