<!--

 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

 Copyright 2013 Oracle and/or its affiliates. All rights reserved.

 Oracle and Java are registered trademarks of Oracle and/or its affiliates.
 Other names may be trademarks of their respective owners.

 The contents of this file are subject to the terms of either the GNU
 General Public License Version 2 only ("GPL") or the Common
 Development and Distribution License("CDDL") (collectively, the
 "License"). You may not use this file except in compliance with the
 License. You can obtain a copy of the License at
 http://www.netbeans.org/cddl-gplv2.html
 or nbbuild/licenses/CDDL-GPL-2-CP. See the License for the
 specific language governing permissions and limitations under the
 License.  When distributing the software, include this License Header
 Notice in each file and include the License file at
 nbbuild/licenses/CDDL-GPL-2-CP.  Oracle designates this
 particular file as subject to the "Classpath" exception as provided
 by Oracle in the GPL Version 2 section of the License file that
 accompanied this code. If applicable, add the following below the
 License Header, with the fields enclosed by brackets [] replaced by
 your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"

 If you wish your version of this file to be governed by only the CDDL
 or only the GPL Version 2, indicate your decision by adding
 "[Contributor] elects to include this software in this distribution
 under the [CDDL or GPL Version 2] license." If you do not indicate a
 single choice of license, a recipient has the option to distribute
 your version of this file under either the CDDL, the GPL Version 2 or
 to extend the choice of license to its licensees as provided above.
 However, if you add GPL Version 2 code and therefore, elected the GPL
 Version 2 license, then the option applies only if the new code is
 made subject to such option by the copyright holder.

 Contributor(s):

 Portions Copyrighted 2013 Sun Microsystems, Inc.

-->
<!DOCTYPE html>
<html lang="en" ng-app="bck2brwsr" ng-controller="DevCtrl">
    <head>
        <title>DEW</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap-combined.min.css"/>  
        <link rel="stylesheet" href="js/codemirror/codemirror.css">
        <link rel="stylesheet" href="js/codemirror/theme/elegant.css"/>
        <link rel="stylesheet" href="js/codemirror/addon/hint/show-hint.css">
        <link rel="stylesheet" href="css/java-hint.css"/>
        <link rel="stylesheet" href="css/app.css"/>
    </head>
    <body>
                
        <div class="navbar navbar-fixed-top" style="width: 100%"> 
        <div class="navbar-inner" style="padding-left: 12px; padding-right: 12px;">
            <a class="brand" style="font-size: 100%" href="http://hg.netbeans.org/main/contrib/dew4nb/" target="_blank">
                DEW 4 NetBeans
            </a>
            <span class="text-info"><b ng-bind="description">Loading a file ...</b>
            </span>
            <form class="navbar-form pull-right">
                <!-- select class="span2"></select -->
                <button ng-click="save()" ng-disabled="noModification()" class="btn btn-warning">Save</button>
                <button ng-click="run()" ng-disabled="someErrors()" class="btn btn-warning">Run</button>
            </form>
            <div class="nav">
                <input type="search" placeholder="Name of a class"/><button class="btn btn-warning">Goto!</button>
            </div>
            <!-- form class="form form-horizontal pull-right">
                <button class="btn btn-warning btn-small pull-right top" ng-click="post()">Rebuild</button>
            </form -->
            <!-- ul class="nav pull-right">
                
            </ul-->     
        </div>  
        </div>

        <div class="container-fluid">        
        
        <div style="height: 4em;">&nbsp;</div>    
            
        <div class="row-fluid">
            <!--
            <div class="span6" style="margin-bottom: 10px;"> 
                <table class="table table-condensed" style="margin-bottom: 2px">
                <tr><td><i class="ic-html5"></i> HTML5</td></tr>               
                </table>
                <div>
                    <textarea ui-codemirror='{ lineNumbers : true, mode : "xml", theme : "elegant", matchBrackets : true, lineWrapping : true }' ng-model="html"></textarea>
                    <div class="alert alert-error" ng-show="doc.modelError">
                        <small>{{doc.modelError.toString()}}</small>
                    </div>
                </div>    
            </div>
            -->
            
            <div class="span6">  
                <table class="table table-condensed" style="margin-bottom: 2px">
                <tr><td><i class="ic-java"></i> Java</td></tr>               
                </table>                
                <div>
                    <textarea id="editorJava" ui-codemirror='{ lineNumbers : true, mode : "text/x-java", theme : "elegant", matchBrackets : true, lineWrapping : true, gutters: ["CodeMirror-linenumbers", "issues"], extraKeys: {"Ctrl-Space": "autocomplete"} }' ng-model="java"></textarea>
                    <span ng-repeat="c in completions.list">
                        <button class="btn-info" ng-click="applyCompletion(c, completions)">
                            <span ng-class="c.className">{{c.displayName || c.text}}</span>
                        </button>
                    </span>
                    <span ng-hide="littleCompletions()">
                        <a class="help-inline" ng-click="completions.more()">Ctrl-Space for more</a>...
                    </span>
                    <div class="alert alert-error" ng-show="doc.modelError">
                        <small>{{doc.modelError.toString()}}</small>
                    </div>
                </div>
            </div>
        
        </div>    
            
        <table class="table table-condensed">
            <tr ng-click="gotoError(e.line, e.col)" ng-repeat="e in errors" ng-class="errorClass(e.kind)">
                <td style="text-align: right">{{e.line}}</td> 
                <td>:</td> 
                <td style="text-align: left">{{e.col}}</td> 
                <td width="100%" class="text-error error-hover">{{e.msg}} <i class="icon-play"/></td>
            </tr>            
        </table>    

        <div class="show" ng-bind="status"></div>
        
        <div>&nbsp;</div>    
            
        <ul class="nav nav-tabs">
            <li ng-class="'active'"><a href="#">Result</a></li>
        </ul>    
        
        <div id="result"></div>
        
        </div>
        
        <script src="js/angular/angular.min.js"></script>
        <script src="js/codemirror/codemirror.js"></script>
        <script src="js/codemirror/addon/hint/show-hint.js"></script>
        <script src="js/codemirror/mode/xml.js"></script>
        <script src="js/codemirror/mode/clike.js"></script>
        <script src="js/app.js"></script>
        <script id="brwsrvm"></script>
    </body>
</html>
