<jnl:articleSearch var="" companyId="" groupId="" articleId="" version="" 
	title="" description="" content="" type="" structureId="" templateId="" 
	displayDateGT="" displayDateLT="" approved="" expired="" reviewDate="" 
	andOperator="" start="" end="" obc="" />