{
        com.sun.saw.vo.AuditHistoryVO auditHistoryVO = new com.sun.saw.vo.AuditHistoryVO();
        auditHistoryVO.setTaskIdList(taskIdList);
        return workflowImpl.showAuditHistory(auditHistoryVO);
}