<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "../Licenses/license-${project.license}.txt">
<#if package?? && package != "">
package ${package};
</#if>

import com.thoughtworks.selenium.SeleneseTestCase;

/**
 *
 * @author ${user}
 */
public class ${name} extends SeleneseTestCase {

	public void setUp() throws Exception {
            super.setUp("http://localhost:${server_port}/");
	}

	public void testSimple() throws Exception {
	}

}
