html, body {
    margin: 0;
    padding: 0;
}
body { 
    font-family: Arial,Helvetica,FreeSans,"Luxi-sans","Nimbus Sans L",sans-serif; 
    font-size: 0.8em; 
    text-align: center;
}
.allcaps {
    text-transform: uppercase;
}
.red {
    color: #F00;
    font-size: 0.85em;
}
.rightalign {
    text-align: right;
}
a {
    color: #5382a1; 
    text-decoration: none;
}
a:hover { 
    text-decoration: underline;
}
p, .container h2, .container h4 {
    margin: 0px 15px 10px 10px; 
    text-align: left;
}
/**** Confirm Styles ****/
.container h2 {
    color: #3E6B8A;
    font-size: 2.3em;
}            
.container h4 {
    color: #E76F00;
    font-size: 1.3em;
}
/**** Thank You Content Styles ****/
#thankyou_container {
    background: #ffffff;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 660px;
    z-index: 100;
}
/**** Register / Login Content Styles ****/
#container {
    background: #fff;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 665px;
    z-index: 100;
}
.container {
    width: 665px;
    margin: 0px auto;
    padding: 5px;
    margin-top: 30px;
}
#actionbox1-content {
    float: left; 
    margin-top: 35px; 
    height: 160px; 
    width: 320px;
}
#actionbox2 form {
    padding-top: 35px;
}
#container table {
    margin: 0 0 0 10px; 
    text-align: left;
    font-size: 1em;
}
/**** Button Styles ****/
input.buttonblue, input.defbutton, input.buttondisabled { 
    border-right: 1px solid #304C60;
    border-bottom: 1px solid #304C60;
    border-left: 1px solid #BACDD9;
    border-top: 1px solid #BACDD9; 
    font-weight: bold; 
    color: #FFFFFF; 
    font-size: 0.8em; 
    height: 1.9em;
}
input.buttonblue, input.defbutton { 
    background: url(../images/bg_sunblue.gif) repeat-x 0 -10px #304C60;
}
input.buttondisabled {
     background: #999999;
}
input.buttonblue:hover { 
    color: #fbe249;
}
/**** Form Styles ****/
#productTable {
    border: none;
    border-collapse: collapse;
    margin: 1em;
    width: 100%;
}
#productTable td, #productTable th {
    padding: 6px;
    text-align: left;
}
/**** Footer Styles ****/
#footer {
    background: #fff; 
    clear: both; 
    padding-top: 5px; 
    border-top: medium solid #e9e9e9; 
}
#footer-logo {
    background: url(../images/logo.jpg) top left no-repeat; 
    float: left; 
    width: 60px; 
    height: 27px;
}
#footer-copyright {
    clear: right; 
    text-align: right; 
    font-size: 0.8em; 
    color: #999999;
}
#priv-top, #priv-mid, #priv-btm {
    float: left; 
    width: 655px; 
    margin-top: 0px;
}
#priv-top { 
    height: 8px; 
    background: url(../images/pvy-top.gif) no-repeat;
} 
#priv-mid { 
    background-color: #f1f7df;
    height: auto;
}
#priv-btm { 
    height: 8px; 
    background: url(../images/pvy-btm.gif) no-repeat;
    margin-bottom: 10px;
}
#priv-mid p {
    text-align: left; 
    margin: 10px;
}
#helpbox {
    margin: 15px 5px 5px 5px; 
    text-align: left;
}
.helptext {
    font-size: .8em; 
    text-align: left; 
    line-height: 1em;
} 
